.group-container {
  width: 15%;
  min-width: 235px;
}

.group-header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  align-items: center;
}

.group-info-container {
  display: flex;
  gap: 10px;
  align-items: center;
}

.label-container {
  display: flex;
  align-items: center;
  gap: 5px;
}

.ticket-count {
  font-size: 14px;
  color: gray;
}

.icons {
  display: flex;
  gap: 10px;
  color: gray;
  align-items: center;
}

.icon {
  cursor: pointer;
}

.tickets-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
