.select-row {
  display: flex;
  justify-content: space-between;
}

.selector-label {
  display: flex;
  align-items: center;
  color: #818182;
  font-size: 14px;
  font-weight: 600;
}

.selector-input {
  width: 100px;
  padding: 3px;

  border: none;
  border-radius: 5px;
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1);

  cursor: pointer;
}
