* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
body {
  height: 100%;
  background-color: #f4f5f8;
}

/* Using the Notion Light Mode Colour Scheme */
.white-background {
  background-color: white;
}

.gray-background {
  background-color: #f4f5f8;
}

.gray-text {
  color: #f1f1ef;
}

.default-text {
  color: #37352f;
  font-weight: 500;
}
